<section class="section section-lg bg-soft line-bottom-soft">
    <div class="container">
        <div class="row justify-content-between align-items-center mb-6">
            <div class="col-12 col-md-6 mb-4 mb-lg-0">
                <div class="card bg-tertiary border-tertiary p-0">
                    <div class="card-body p-1">
                        <img src="../assets/img/themesberg-website.jpg" alt="projectscreen">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5">
                <h2 class="display-2 mb-3">Themesberg</h2>
                <p class="mb-4 lead">Worked on UX Improvement, mobile, web UI design and defined brand style.</p>
                <ul class="list-unstyled pl-0 mb-4">
                    <li class="h6 py-1">
                        <span class="icon icon-xs mr-2">
                            <i class="fas fa-check-circle"></i>
                        </span>Redesign marketplace official website</li>
                    <li class="h6 py-1">
                        <span class="icon icon-xs mr-2">
                            <i class="fas fa-check-circle"></i>
                        </span>Improve SEO</li>
                    <li class="h6 py-1">
                        <span class="icon icon-xs mr-2">
                            <i class="fas fa-check-circle"></i>
                        </span>Marketing Campaign
                    </li>
                </ul>
                <a href="case-study.html" class="btn btn-primary animate-up-2">
                    <i class="fas fa-book mr-2"></i>
                    Case study
                </a>
            </div>
        </div>
        
        <hr class="border-soft my-2">
        
        <div class="row justify-content-between align-items-center mb-6 mt-lg-6">
            <div class="col-12 order-lg-2 col-md-6 mb-4 mb-lg-0">
                <div class="card bg-tertiary border-tertiary p-0">
                    <div class="card-body p-1">
                        <img src="../assets/img/agency-portofolio-app-2.png" alt="projectscreen">
                    </div>
                </div>
            </div>
            <div class="col-12 order-lg-1 col-md-5">
                <h2 class="display-2 mb-3">PixelChat App</h2>
                <p class="mb-4 lead">Worked on UX Improvement, mobile, web UI design and defined brand style.</p>
                <ul class="list-unstyled pl-0 mb-4">
                    <li class="h6 py-1">
                        <span class="icon icon-xs mr-2">
                            <i class="fas fa-check-circle"></i>
                        </span>Redesign marketplace official website
                    </li>
                    <li class="h6 py-1">
                        <span class="icon icon-xs mr-2">
                            <i class="fas fa-check-circle"></i>
                        </span>Improve SEO
                    </li>
                    <li class="h6 py-1">
                        <span class="icon icon-xs mr-2">
                            <i class="fas fa-check-circle"></i>
                        </span>Marketing Campaign
                    </li>
                </ul>
                <a href="case-study.html" class="btn btn-primary animate-up-2">
                    <i class="fas fa-book mr-2"></i>
                    Case study
                </a>
            </div>
        </div>
        
        <hr class="border-soft my-2">
        
        <div class="row justify-content-between align-items-center mt-lg-6">
            <div class="col-12 col-md-7 mb-4 mb-lg-0">
                <div class="card bg-tertiary border-tertiary p-0">
                    <div class="card-body p-1">
                        <img src="../assets/img/desktop-app-chat.png" alt="projectscreen">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <h2 class="display-2 mb-3">Platform</h2>
                <p class="mb-4 lead">Pixel is a premium HTML theme that includes adaptable layouts for various industries and free monthly updates.</p>
                <ul class="list-unstyled pl-0 mb-4">
                    <li class="h6 py-1">
                        <span class="icon icon-xs mr-2">
                            <i class="fas fa-check-circle"></i>
                        </span>Redesign marketplace official website</li>
                    <li class="h6 py-1">
                        <span class="icon icon-xs mr-2">
                            <i class="fas fa-check-circle"></i>
                        </span>Improve SEO</li>
                    <li class="h6 py-1">
                        <span class="icon icon-xs mr-2">
                            <i class="fas fa-check-circle"></i>
                        </span>Marketing Campaign
                    </li>
                </ul>
                <a href="case-study.html" class="btn btn-primary animate-up-2">
                    <i class="fas fa-book mr-2"></i>
                    Case study
                </a>
            </div>
        </div>
    </div>
</section>