<section class="section-header pt-5 pb-5" id="projects">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 mb-5 mb-md-0 pt-4 pt-lg-0">
                <div class="row">
                    <div class="col col-md-6">
                        <a href="{{ url_for('static', filename='img/project/photo-23.jpg')}}" data-lightbox="roadtrip">
                            <img src="{{ url_for('static', filename='img/project/photo-23.jpg')}}" alt="..." class="img-fluid mb-4 rounded animate-up-3 shadow-sm">

                        </a>
                        <a href="{{ url_for('static', filename='img/project/photo-25.jpg')}}" data-lightbox="roadtrip">
                            <img src="{{ url_for('static', filename='img/project/photo-25.jpg')}}" alt="..." class="img-fluid rounded animate-up-3 shadow-sm">
                        </a>
                    </div>

                    <div class="col col-md-6 mt-6">
                        <a href="{{ url_for('static', filename='img/project/photo-22.jpg')}}" data-lightbox="roadtrip">
                            <img src="{{ url_for('static', filename='img/project/photo-22.jpg')}}" alt="..." class="img-fluid mb-4 rounded animate-up-3 shadow-sm">
                        </a>
                        <a href="{{ url_for('static', filename='img/project/photo-24.jpg')}}" data-lightbox="roadtrip">
                            <img src="{{ url_for('static', filename='img/project/photo-24.jpg')}}" alt="..." class="img-fluid rounded animate-up-3 shadow-sm">
                        </a>
                    </div>
                </div>
            </div>

            <div class="col col-md-6">
                <h1 class="display-3 font-weight-extreme mb-4">Mes derniers projets réalisés</h1>
                <p class="lead mb-5 pr-lg-4">Indépendant et pleins d'entrain à l'amour de mon métier,
                    je me préoccupe des petites choses pour vous aider à faire avancer votre marque.
                </p>
                <a class="btn btn-primary animate-up-2" href="#">
                    <i class="fas fa-pen-nib mr-2"></i>
                    Voir plus
                </a>
            </div>
        </div>
    </div>
</section>
