<section class="section-header py-5">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-md-5 d-none d-lg-block text-center">
                <img src="{{ url_for('static', filename='img/illustration/meditating.svg') }}" alt="{{ config.SITE_NAME }}">
            </div>
            <div class="col-12 col-lg-7">
                <h1 class="display-2 font-weight-extreme mb-4">
                    <span class="text-black">Mon travail</span>
                </h1>
                <p class="lead mb-5 pr-lg-5">
                    Créez, prototypez, collaborez et transformez vos idées en produits
                    incroyables avec la plateforme définitive pour la conception numérique.
                </p>
                <a class="btn btn-primary animate-up-2" href="#">
                    Mes dernières réalisations
                    <i class="far fa-hand-point-right ml-2"></i>
                </a>
            </div>
        </div>
    </div>
</section>