<section class="section-header py-5 bg-white" id="skills">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-lg-7">
                <h1 class="display-2 font-weight-extreme mb-4">
                    <span class="text-black">Mes compétences</span>
                </h1>
                <p class="lead mb-5 pr-lg-5">
                    Créez, prototypez, collaborez et transformez vos idées en produits
                    incroyables avec la plateforme définitive pour la conception numérique.
                </p>
                <a class="btn btn-primary animate-up-2" href="#">
                    Mes dernières réalisations
                    <i class="far fa-hand-point-right ml-2"></i>
                </a>
            </div>

            <div class="col-12 col-md-5 d-none d-lg-block text-center">
                <img src="{{ url_for('static', filename='img/illustration/meditating.svg') }}" alt="{{ config.SITE_NAME }}">
            </div>
        </div>
    </div>

    <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2"><svg class="fill-soft" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
        <path d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
    </svg></figure>
</section>