{% extends "index.html" %}

{% block page_content %}
	<div class="container-fluid page-header mb-2 p-0" style="background-image:url({{ url_for('static', filename='img/slider/carousel-1.jpg') }});">
	    <div class="container-fluid page-header-inner py-5">
	        <div class="container text-center pb-5">
	            <h1 class="display-3 text-white mb-3 animated slideInDown">{{ page_title }}</h1>
	            <nav aria-label="breadcrumb">
	                <ol class="breadcrumb justify-content-center text-uppercase">
	                    <li class="breadcrumb-item text-white active" aria-current="page">
	                        Ce que nous allons vous offrir
	                    </li>
	                </ol>
	            </nav>
	        </div>
	    </div>
	</div>


	<div class="container-xxl py-4">
	    <div class="container">
	        <div class="text-center">
	            <h6 class="section-title text-center text-primary text-uppercase">Nos Prestations</h6>
	            <h1 class="mb-5">Découvrir nos <span class="text-primary text-uppercase">Prestations</span></h1>
	        </div>
	        <div class="row g-4">
	            <div class="col-lg-4 col-md-6">
	                <a class="service-item text-center rounded" href="#">
	                    <div class="service-icon bg-transparent border rounded mx-auto mb-4 p-1">
	                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
	                            <i class="fa fa-hotel fa-2x text-primary"></i>
	                        </div>
	                    </div>
	                    <h5 class="mb-3">Rooms & Appartment</h5>
	                    <p class="text-body mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
	                </a>
	            </div>

	            <div class="col-lg-4 col-md-6">
	                <a class="service-item text-center rounded" href="#">
	                    <div class="service-icon bg-transparent border rounded mx-auto mb-4 p-1">
	                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
	                            <i class="fa fa-utensils fa-2x text-primary"></i>
	                        </div>
	                    </div>
	                    <h5 class="mb-3">Food & Restaurant</h5>
	                    <p class="text-body mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
	                </a>
	            </div>

	            <div class="col-lg-4 col-md-6">
	                <a class="service-item text-center rounded" href="#">
	                    <div class="service-icon bg-transparent border rounded mx-auto mb-4 p-1">
	                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
	                            <i class="fa fa-spa fa-2x text-primary"></i>
	                        </div>
	                    </div>
	                    <h5 class="mb-3">Spa & Fitness</h5>
	                    <p class="text-body mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
	                </a>
	            </div>

	            <div class="col-lg-4 col-md-6">
	                <a class="service-item text-center rounded" href="#">
	                    <div class="service-icon bg-transparent border rounded mx-auto mb-4 p-1">
	                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
	                            <i class="fa fa-swimmer fa-2x text-primary"></i>
	                        </div>
	                    </div>
	                    <h5 class="mb-3">Sports & Gaming</h5>
	                    <p class="text-body mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
	                </a>
	            </div>

	            <div class="col-lg-4 col-md-6">
	                <a class="service-item text-center rounded" href="#">
	                    <div class="service-icon bg-transparent border rounded mx-auto mb-4 p-1">
	                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
	                            <i class="fa fa-glass-cheers fa-2x text-primary"></i>
	                        </div>
	                    </div>
	                    <h5 class="mb-3">Event & Party</h5>
	                    <p class="text-body mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
	                </a>
	            </div>

	            <div class="col-lg-4 col-md-6">
	                <a class="service-item text-center rounded" href="#">
	                    <div class="service-icon bg-transparent border rounded mx-auto mb-4 p-1">
	                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
	                            <i class="fa fa-dumbbell fa-2x text-primary"></i>
	                        </div>
	                    </div>
	                    <h5 class="mb-3">GYM & Yoga</h5>
	                    <p class="text-body mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
	                </a>
	            </div>
	        </div>
	    </div>
	</div>

	{% include "paths/_storie.html" %}
{% endblock page_content %}
